<P class="notice">
<%= flash[:notice] %>
</p>

<p class="show_title">
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p class="show_body">
  <strong>Body:</strong>
  <%= @book.body %>
</p>


  <%= link_to "Edit", edit_book_path(@book.id),class:"link" %>
  |
  <%= link_to "Back","/books",class:"link" %>
